{% extends 'backend/layout.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}Tabla de usuarios{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}

<h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Permisos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>{{ grupo.descripcion }}</td>
                <td>{{ grupo.permisos }}</td>
                <td>
                    <a href="{{ path('app_grupo_show', {'id': grupo.id}) }}">show</a>
                    <a href="{{ path('app_grupo_edit', {'id': grupo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_grupo_new') }}">Create new</a>
{% endblock %}
