{% extends 'base.html.twig' %}

{% block title %}Grupo{% endblock %}

{% block body %}
    <h1>Grupo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grupo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ grupo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ grupo.descripcion }}</td>
            </tr>
            <tr>
                <th>Permisos</th>
                <td>{{ grupo.permisos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_grupo_index') }}">back to list</a>

    <a href="{{ path('app_grupo_edit', {'id': grupo.id}) }}">edit</a>

    {{ include('grupo/_delete_form.html.twig') }}
{% endblock %}
