<form method="post" action="{{ path('app_permiso_delete', {'id': permiso.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ permiso.id) }}">
    <button class="btn">Delete</button>
</form>
