{% extends 'backend/layout.html.twig' %}

{% block title %}User nuevo{% endblock %}
{% block page_title %}
<h3 class="m-0"><i class="fas fa-user"></i>&nbsp; Usuario nuevo</h3>
{% endblock %}
{% block page_description %}                        
    <li class="breadcrumb-item active"> Usuario nuevo</li>
{% endblock %}

{% block page_content %}
    <div class="card-header">
            <h3 class="card-title">Crear nuevo usuario</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
    </div>
    <!-- /.card-header -->
          <div class="card-body">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-sm btn-danger" type="button" href="{{ path('app_permiso_index') }}"><i class="fas fa-bars"></i>&nbsp; Lista usuarios</a>
            </li>
        </ul>
            <div class="row">
            <div class="col-md-12">

    {{ include('backend/permiso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_permiso_index') }}">back to list</a>

    {{ include('backend/permiso/_delete_form.html.twig') }}

    </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
{% endblock %}
