{% extends 'backend/layout.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}
<h3 class="m-0"><i class="fas fa-user-lock"></i>&nbsp; Permisos</h3>
{% endblock %}
{% block page_description %}                        
    <li class="breadcrumb-item active"> Permiso</li>
{% endblock %}

{% block page_content %}
<div class="card-header">
    <h3 class="card-title">Lista de permiso</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
            </button>
        </div>
</div>
    <!-- /.card-header -->
    <div class="card-body">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-sm btn-primary" type="button" href="{{ path('app_permiso_new') }}"><i class="fas fa-plus-circle"></i>&nbsp; Nuevo permiso</a>
            </li>
        </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id ="lista-Permiso"class="table table-bordered nowrap table-hover table-striped w-100">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permiso in permisos %}
            <tr>
                <td>{{ permiso.id }}</td>
                <td>{{ permiso.role }}</td>
                <td>{{ permiso.descripcion }}</td>
                <td>{{ permiso.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_permiso_show', {'id': permiso.id}) }}">show</a>
                    <a href="{{ path('app_permiso_edit', {'id': permiso.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_permiso_new') }}">Create new</a>
{% endblock %}
