{% extends 'base.html.twig' %}

{% block title %}Permiso{% endblock %}

{% block body %}
    <h1>Permiso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permiso.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ permiso.role }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ permiso.descripcion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ permiso.activo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_permiso_index') }}">back to list</a>

    <a href="{{ path('app_permiso_edit', {'id': permiso.id}) }}">edit</a>

    {{ include('permiso/_delete_form.html.twig') }}
{% endblock %}
