{% block flash_messages %}
    {# Mensajes Flash #}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <script type="text/javascript">
            $(document).ready(function(){
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                    Toast.fire({
                        icon: 'success',
                        title: 'Se creo correctamente',
                    })
            });
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <script type="text/javascript">
            $(document).ready(function(){
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'error',
                    title: 'Verifique por favor..!',
                })
            });
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <script type="text/javascript">
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            Toast.fire({
                icon: 'info',
                title: 'Info',
            })
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <script type="text/javascript">
            $(document).ready(function(){
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'warning',
                    title: 'Precaución..!',
                })
            });
        </script>
    {% endfor %}
{% endblock %}