{% extends 'backend/layout.html.twig' %}

{% block title %} | Sistem{% endblock %}
{% block page_title %}
    <h3 class="m-1"><i class="fa fa-home"></i>&nbsp; Administración</h3>
{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
<div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eos necessitatibus ex doloremque minus incidunt nobis ea distinctio ipsum! Quasi cumque delectus eos ut ipsam ullam consequuntur quia similique suscipit?
    </p>
</div>
{% endblock %}