{% extends 'base.html.twig' %}
{% block stylesheets %}
	<!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href={{ asset("plugins/fontawesome-free/css/all.min.css") }}>
        <!-- iCheck -->
        <link rel="stylesheet" href={{ asset("plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}>
        <!-- Theme style -->
        <link rel="stylesheet" href={{ asset("dist/css/adminlte.min.css") }}>
{% endblock %}

{% block body %}
    
{% endblock %}

{% block javascripts %}
	<!-- jQuery -->
    <script src={{ asset("plugins/jquery/jquery.min.js") }}></script>
    <!-- Bootstrap 4 -->
    <script src={{ asset("plugins/bootstrap/js/bootstrap.bundle.min.js") }}></script>
    <!-- AdminLTE App -->
    <script src={{ asset("dist/js/adminlte.js") }}></script>
{% endblock %}
