{% extends 'base.html.twig' %}
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdminLTE 3 | Dashboard</title>
    {% endblock %}
        {% block stylesheets %}
            <!-- Google Font: Source Sans Pro -->
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
            <!-- Font Awesome -->
            <link rel="stylesheet" href={{ asset("plugins/fontawesome-free/css/all.6.5.1.min.css") }}>

            <!-- iCheck -->
            <link rel="stylesheet" href={{ asset("plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}>
            <link rel="stylesheet" href={{ asset("plugins/jquery-ui/jquery-ui.min.css") }}>
            <!-- Theme style -->
            <link rel="stylesheet" href={{ asset("dist/css/adminlte.min.css") }}>
            <!-- overlayScrollbars -->
            <link rel="stylesheet" href={{ asset("plugins/overlayScrollbars/css/OverlayScrollbars.min.css") }}>
            <!-- summernote -->
            <link rel="stylesheet" href={{ asset("plugins/summernote/summernote-bs4.min.css") }}>
           
            {#  <link rel="stylesheet" href="{{ asset('js/EasyAutocomplete-1.3.5/easy-autocomplete.css') }}">
            <link rel="stylesheet" href="{{ asset('js/EasyAutocomplete-1.3.5/easy-autocomplete.themes.css') }}"> #}
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        {% endblock %}
    {% block body %}
    <style>
        .sidebar-dark-info{
            background: #21664F !important;
        }
    </style>
        <!--  <div class="hold-transition sidebar-mini layout-fixed"> -->
        <div class="wrapper">
            <!-- Preloader -->
            {#  <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src={{ asset("dist/img/AdminLTELogo.png") }} alt="AdminLTELogo" height="60" width="60">
            </div> #}
            <!-- Navbar -->
            {{ include('backend/layout_header.html.twig') }}
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-info elevation-4">
                <!-- Brand Logo -->
                <a href="#" class="brand-link">
                    <!-- <img src={{ asset("dist/img/AdminLTELogo.png") }} alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
                    <div align="center">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="brand-text font-weight-bold">&nbsp; CORRESPONDENCIA</span>
                    </div>

                </a>
                <!-- Sidebar -->
                {{ include('backend/layout_panel_menu.html.twig') }}
                <!-- /.sidebar -->
            </aside>

            <!-- Main content -->
            <main class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <div class="fs-3">{% block page_title %}Dashboard{% endblock %}</div>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    {% block page_description %}{% endblock %}
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="card ">
                            <div class="card-body">
                            {% block page_content %}

                            {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the end -->
                <div class="float-end d-none d-sm-inline">
                    Anything you want
                </div>
                <!-- Default to the start -->
                <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights
                reserved.
            </footer>
        </div>
        <!--  </div> -->
    {% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src={{ asset("plugins/jquery/jquery.js") }}></script>
    <!-- jQuery UI 1.11.4 -->
    <script src={{ asset("plugins/jquery-ui/jquery-ui.js") }}></script>
    <script src={{ asset("jquery-ui/jquery-ui.js") }}></script>
    <!-- Bootstrap 4 -->
    <script src={{ asset("plugins/bootstrap/js/bootstrap.bundle.min.js") }}></script>
    <!-- AdminLTE App -->
    <script src={{ asset("dist/js/adminlte.js") }}></script>
    <!-- Sweetalert2 -->
    <script src="{{ asset("plugins/sweetalert2/sweetalert2.11.10.js") }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- overlayScrollbars -->
    <script src={{ asset("plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js") }}></script>
   
    <script src="{{ asset('block-ui/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('jquery-ui/jquery-ui.js') }}"></script>

    <!--Validación para formualarios con JqueryValidate-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
    <script src="{{ asset('js/validators.js') }}" type="text/javascript"></script>
    <!-- EasyAutocomplete-->
    <script src="{{ asset('js/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.js') }}"></script>
    <script src="{{ asset('js/tables.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    {# Archivos javascripts que se agregan por página #}
    {% block javascritps_page %}
    {% endblock %}
    {# Javascript que se agrega en la página #}
    {% block javascripts_in_page %}
    {% endblock %}

{% endblock %}