<style>
      .nav-sidebar>.nav-item>.nav-link.active {
        background: #82858b !important;
      }
 </style>
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{{ asset("dist/img/user2-160x160.jpg") }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ app.user.email }}</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
                <a href="{{ path('app_default') }}" class="nav-link active">
                    <i class="nav-icon fas fa-home "></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-header">Captura</li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-key"></i>
                    <p>
                        Seguridad
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('app_user_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Usuario</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_permiso_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Permiso</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_grupo_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Grupo</p>
                        </a>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="nav-link">
                    <i class="nav-icon fas fa-arrow-alt-circle-right"></i>
                    <p>
                        Salir
                    </p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>