{% extends 'backend/layout_login.html.twig' %}

{% block title %}Bienvenido | Inicio de Sesión!{% endblock %}

{% block body %}

   {# <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> 

        <button type="submit" class="bg-blue">login</button>
    </form> #}
    
<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b class="brand-text font-weight-bold ">CORRESPONDENCIA</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Iniciar Sesión</p>

      <form action="{{ path('app_login') }}" method="post">
        {% if error %}
          <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
          <div>
              Iniciaste sesión como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Salir</a>
          </div>
        {% endif %}
        <div class="input-group mb-3">
          <input class="form-control" placeholder="Email" type="text" id="username" name="_username" value="{{ last_username }}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input class="form-control" placeholder="Password" type="password" id="password" name="_password">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-7"></div>
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!--
      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary disabled">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger disabled">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> -->
      <!-- /.social-auth-links -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
</div>
{% endblock %}
