{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class=" col-lg-3 col-sm-3">
           <button class="btn btn-primary btn-sm" title="Guardar"><i class="fas fa-save"></i>&nbsp;{{ button_label|default('Guardar') }}</button>
        </div>
    </div>    
{{ form_end(form) }}
