<div id="modal-add-user" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        {{ include('backend/user/_delete_form.html.twig') }}

                    </li>
                </ul>
                {{ include('backend/user/_form.html.twig', { 'button_label': ' Actualizar'}) }}
            </div>
            <div class="modal-footer">
            {#    <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp; Cancelar</button>
              #}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#modal-add-user').modal('show');

    $("form").submit(function(){
        blockPage();
    });
</script>
