{% extends 'backend/layout.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}
<h4 class="m-0"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Lista de usuarios</h4>
{% endblock %}
{% block page_description %}                        
    <li class="breadcrumb-item active"> Lista de usuarios</li>
{% endblock %}

{% block page_content %}

<div class="mb-2">
    <button type="button" id="" class="btn btn-primary btn-add-item" data-href="{{ path('app_user_new_modal') }}"><i class="fas fa-plus-circle" aria-hidden="true"></i> Nuevo</button>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id ="lista-User"class="table table-bordered nowrap table-hover table-striped w-100">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Activo</th>
                            <th>Ultimo Acceso</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.nombreCompleto }}</td>
                            <td>{{ user.activo ? 'Si' : 'No' }}</td>
                            <td>{{ user.ultimoAcceso ? user.ultimoAcceso|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn-show-item btn btn-info btn-sm" title="Consultar" data-href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fas fa-search"></i></a>
                                    <a class="btn-edit-item btn btn-primary btn-sm" title="Editar" data-href="{{ path('app_user_edit_modal', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                                </div>
                               
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- /.col-md-12-->
    </div> <!-- /.row -->
<div id="contenedor-modales"></div>
{% endblock %}
    {% block javascripts_in_page %}
        <script type="text/javascript">
        $(document).ready(function () {
            
            $(".btn-add-item").click(function (e) {
                e.preventDefault();
                blockPage();
                url = $(this).attr('data-href');
                $.ajax({
                    url: url,
                    dataType: "JSON",
                    type: "GET",
                    data: {
                        //var1: valor,
                        //var2: "string"
                    },
                    success: function(data, textStatus, jqXHR){
                        if(data.code == 200) {
                            $('#contenedor-modales').html(data.html);
                            unblockPage();
                        } else {
                            //lanzar error
                        }
                    },
                    error: function(qXHR, textStatus, errorThrow) {
                        createNotification('error', 'Error al procesar la peticion...');
                        unblockPage();
                    }
                });
            }); //End agregar item

             $(".btn-edit-item").click(function(e){
            e.preventDefault();
            blockPage();
            url = $(this).attr('data-href');            
            $.ajax({
                url: url,
                dataType: "JSON",
                type: "GET",
                data: {
                    

                },
                success: function(data, textStatus, jqXHR){
                    if(data.code == 200) {
                        $('#contenedor-modales').html(data.html);
                        unblockPage();
                    } else {
                        //lanzar error
                    }
                },
                error: function(qXHR, textStatus, errorThrow) {
                    createNotification('error', 'Error al procesar la peticion...');
                    unblockPage();
                }
            });
        }); //End editar-item

        $(".btn-show-item").click(function(e){
            e.preventDefault();
            blockPage();
            url = $(this).attr('data-href');            
            $.ajax({
                url: url,
                dataType: "JSON",
                type: "GET",
                data: {
                    

                },
                success: function(data, textStatus, jqXHR){
                    if(data.code == 200) {
                        $('#contenedor-modales').html(data.html);
                        unblockPage();
                    } else {
                        //lanzar error
                    }
                },
                error: function(qXHR, textStatus, errorThrow) {
                    createNotification('error', 'Error al procesar la peticion...');
                    unblockPage();
                }
            });
        }); //End show-item



        });
    </script>

    {% endblock %}

