<div id="modal-add-user" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuario nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ include('backend/user/_form.html.twig') }}
            </div>
            <div class="modal-footer">
                {#  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cancelar</button>  #}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#modal-add-user').modal('show');

    $("form").submit(function(){
        blockPage();
    });
</script>
