<div id="modal-show-user" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Consulta Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>ApellidoPaterno</th>
                <td>{{ user.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>ApellidoMaterno</th>
                <td>{{ user.apellidoMaterno }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ user.activo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>UltimoAcceso</th>
                <td>{{ user.ultimoAcceso ? user.ultimoAcceso|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cancelar</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#modal-show-user').modal('show');
    $("form").submit(function(){
        blockPage();
    });
</script>

